.search-form.negotiation {
  margin-top: 14px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* 検索 */
.search-detail.negotiation {
  margin-top: 40px;
}

.search-detail.negotiation th,
.search-detail.negotiation td {
  vertical-align: middle;
}
