<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.world.storedevelopment.model.mapper.ProjectHistoryRepositoryMapper">
	<select id="updateProjectHistory">
	INSERT INTO project_history (
		id,
		corporation_group,
		title,
		project_category_id,
		division,
		open,
		office_project_progress_id,
		negotiation_project_progress_id,
		description,
		start_date,
		building_id,
		i_shop_id,
		shop_name,
		shop_cd,
		corporation_id,
		corporation_gp_id,
		brand_id,
		i_area_id,
		i_block_id,
		i_prefectures_id,
		adopt_difficulty,
		action_status,
		in_house_progress,
		negotiation_progress,
		contract_progress,
		m_project_action_status_id,
		sales_prediction,
		investment_discussion_target,
		external_release_start_date,
		external_release_confirm,
		stop,
		stop_reason_id,
		landing_project_category_id,
		conclusion_possibility_percent_id,
		landing_memo,
		plan_status_id,
		implementation_datetime,
		implementation_schedule_datetime,
		plan_date,
		plan_period,
		plan_period_half,
		i_sales_channel_id,
		sales_end_date,
		rent_increase_decrease,
		tenancy,
		profit_rate,
		tenancy_period,
		other_request,
		our_request,
		requestor_name,
		requestor_status,
		article_review_date,
		article_review_result_id,
		article_review_result_comment,
		management_date,
		management_result_id,
		management_result_comment,
		investment_process_date,
		investment_process_result_id,
		investment_process_result_comment,
		operation_division,
		profit_expectation,
		is_changed_operation_division,
		is_changed_m_project_action_status_id,
		is_changed_office_project_progress_id,
		is_changed_negotiation_project_progress_id,
		is_changed_landing_project_category_id,
		is_changed_conclusion_possibility_percent_id,
		is_changed_landing_memo,
		is_changed_rent_increase_decrease,
		is_changed_external_release_start_date,
		is_changed_external_release_end_date,
		is_changed_external_release_confirm,
		is_changed_implementation_datetime,
		is_changed_sales_end_date,
		is_changed_implementation_period,
		is_changed_stop_reason_id,
		is_changed_negotiation_section_floor,
		is_changed_negotiation_section_contract_tsubo,
		is_changed_negotiation_section_tsubo_increase_decrease,
		is_changed_negotiation_section_business_hours,
		is_changed_negotiation_section_memo,
		is_changed_negotiation_contract_form,
		is_changed_negotiation_contract_name,
		is_changed_negotiation_contract_start_date,
		is_changed_negotiation_contract_end_date,
		is_changed_negotiation_contract_year,
		is_changed_negotiation_contract_tenancy_period,
		is_changed_negotiation_contract_auto_update,
		is_changed_negotiation_contract_memo,
		is_changed_negotiation_related_agency,
		is_changed_negotiation_related_agency_start_date,
		is_changed_negotiation_related_agency_end_date,
		is_changed_negotiation_related_agency_year,
		is_changed_negotiation_related_affiliate_shop,
		is_changed_branch_store_staff_opinion,
		is_changed_branch_store_opinion,
		is_changed_bu_opinion,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted,
		project_id
	)
	SELECT nextval('project_history_id_seq'::regclass) id,
		corporation_group,
		title,
		project_category_id,
		division,
		open,
		office_project_progress_id,
		negotiation_project_progress_id,
		description,
		start_date,
		building_id,
		i_shop_id,
		shop_name,
		shop_cd,
		corporation_id,
		corporation_gp_id,
		brand_id,
		i_area_id,
		i_block_id,
		i_prefectures_id,
		adopt_difficulty,
		action_status,
		in_house_progress,
		negotiation_progress,
		contract_progress,
		m_project_action_status_id,
		sales_prediction,
		investment_discussion_target,
		external_release_start_date,
		external_release_confirm,
		stop,
		stop_reason_id,
		landing_project_category_id,
		conclusion_possibility_percent_id,
		landing_memo,
		plan_status_id,
		implementation_datetime,
		implementation_schedule_datetime,
		plan_date,
		plan_period,
		plan_period_half,
		i_sales_channel_id,
		sales_end_date,
		rent_increase_decrease,
		tenancy,
		profit_rate,
		tenancy_period,
		other_request,
		our_request,
		requestor_name,
		requestor_status,
		article_review_date,
		article_review_result_id,
		article_review_result_comment,
		management_date,
		management_result_id,
		management_result_comment,
		investment_process_date,
		investment_process_result_id,
		investment_process_result_comment,
		operation_division,
		profit_expectation,
		is_changed_operation_division,
		is_changed_m_project_action_status_id,
		is_changed_office_project_progress_id,
		is_changed_negotiation_project_progress_id,
		is_changed_landing_project_category_id,
		is_changed_conclusion_possibility_percent_id,
		is_changed_landing_memo,
		is_changed_rent_increase_decrease,
		is_changed_external_release_start_date,
		is_changed_external_release_end_date,
		is_changed_external_release_confirm,
		is_changed_implementation_datetime,
		is_changed_sales_end_date,
		is_changed_implementation_period,
		is_changed_stop_reason_id,
		is_changed_negotiation_section_floor,
		is_changed_negotiation_section_contract_tsubo,
		is_changed_negotiation_section_tsubo_increase_decrease,
		is_changed_negotiation_section_business_hours,
		is_changed_negotiation_section_memo,
		is_changed_negotiation_contract_form,
		is_changed_negotiation_contract_name,
		is_changed_negotiation_contract_start_date,
		is_changed_negotiation_contract_end_date,
		is_changed_negotiation_contract_year,
		is_changed_negotiation_contract_tenancy_period,
		is_changed_negotiation_contract_auto_update,
		is_changed_negotiation_contract_memo,
		is_changed_negotiation_related_agency,
		is_changed_negotiation_related_agency_start_date,
		is_changed_negotiation_related_agency_end_date,
		is_changed_negotiation_related_agency_year,
		is_changed_negotiation_related_affiliate_shop,
		is_changed_branch_store_staff_opinion,
		is_changed_branch_store_opinion,
		is_changed_bu_opinion,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted,
		id
	FROM project
	WHERE id = ${project.id};

	INSERT INTO PROJECT_SECTION_PROGRESS_HISTORY(
		corporation_group,
		project_id,
		category,
		section,
		frontage,
		floor,
		contract_tsubo,
		business_hours,
		memo,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		building_expected_value,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		category,
		section,
		frontage,
		floor,
		contract_tsubo,
		business_hours,
		memo,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		building_expected_value,
		is_deleted
	FROM PROJECT_SECTION_PROGRESS
	WHERE project_id = ${project.id};

	INSERT INTO PROJECT_CONTRACT_PROGRESS_HISTORY(
		corporation_group,
		project_id,
		form,
	    category,
		contract_target_name,
	    contract_start_date,
	    contract_end_date,
	    contract_number_of_year,
	    rent_start_date,
	    rent_end_date,
	    rent_year,
	    auto_update,
	    memo,
	    operation_form,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		form,
	    category,
		contract_target_name,
	    contract_start_date,
	    contract_end_date,
	    contract_number_of_year,
	    rent_start_date,
	    rent_end_date,
	    rent_year,
	    auto_update,
	    memo,
	    operation_form,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted
	FROM PROJECT_CONTRACT_PROGRESS
	WHERE project_id = ${project.id};

	INSERT INTO PROJECT_OPINION_HISTORY(
		corporation_group,
		project_id,
		file_id,
	    category,
	    comment,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		file_id,
	    category,
	    comment,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted
	FROM PROJECT_OPINION
	WHERE project_id = ${project.id};

	INSERT INTO OTHER_PROJECT_TEAM_HISTORY(
		corporation_group,
		project_id,
		category,
	    income_unit_cd,
	    dept_cd,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		category,
	    income_unit_cd,
	    dept_cd,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted
	FROM OTHER_PROJECT_TEAM
	WHERE project_id = ${project.id};

	INSERT INTO OTHER_PROJECT_ACCOUNT_HISTORY(
		corporation_group,
		project_id,
		category,
	    i_account_id,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		category,
	    i_account_id,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted
	FROM OTHER_PROJECT_ACCOUNT
	WHERE project_id = ${project.id};

	INSERT INTO PROJECT_SCHEDULE_HISTORY(
		corporation_group,
		project_id,
		schedule_date,
	    m_project_action_status_id,
	    is_changed_schedule_date,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		schedule_date,
	    m_project_action_status_id,
	    is_changed_schedule_date,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted
	FROM PROJECT_SCHEDULE
	WHERE project_id = ${project.id};

	INSERT INTO PROJECT_PLAN_HISTORY(
		corporation_group,
		project_id,
		category,
	    sales_agency_target_id,
	    start_date,
	    end_date,
	    participating_store_corporation_id,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted )
	SELECT corporation_group,
		currval('project_history_id_seq'::regclass) project_id,
		category,
	    sales_agency_target_id,
	    start_date,
	    end_date,
	    participating_store_corporation_id,
		created_datetime,
		update_datetime,
		created_account_code,
		update_account_code,
		is_deleted
	FROM PROJECT_PLAN
	WHERE project_id = ${project.id};
</select>
</mapper>
