<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>API - RESTful</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest.js"></script>

<script type="text/javascript">

$(function() {
	  $('.suggest-tag').magicSuggest({
	           	data: [{"Id": 1, "Name": "hello"}, {"Id": 2, "Name": "world"}, {"Id": 3, "Name": "no"}],
	            valueField: 'Id',
	            displayField: 'Name'
	  });
	  
	  $('.suggest-tag-db').magicSuggest({
         //	data: 'jp.co.world.storedevelopment.pc.controller/ProjectDocumentController',
          valueField: 'Id',
          displayField: 'Name'
});
	  
	    
	});
</script>

</head>
<body>
	<form>
    <div class="form-group">
        <label>Tags</label>
        <div class="suggest-tag"></div>
    </div>
    
    <div class="form-group">
        <label>Tags-DB</label>
        <div class="suggest-tag-db"></div>
    </div>

</form>



</body>
</html>