<form action="/pc/sales/file/find" th:action="@{/pc/sales/file/find}" method="post" th:object="${findForm}"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <header class="sales-document-header">
            <h3 class="title">検索</h3>
          </header>
          <div class="sales-document-body">
            <form class="form-horizontal permittion-form">
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label" for="fileName">ファイル名</label>
                  <div class="col-sm-10">
                    <input class="form-control" th:field="*{fileName}" id="fileName" type="text" placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label" for="fileDevision">ファイル種別</label>
                  <div class="col-sm-10">
                    <select class="form-control" th:field="*{division}" th:name="division">
                      <option th:value="ALL">全て</option>
                      <option th:each="division : ${divisions}"
                              th:value="${division}"
                              th:text="${T(jp.co.world.storedevelopment.model.value.FileDivision).toString(division)}">
                      </option>

                    </select>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label" for="updateDateTime">更新日</label>
                  <div class="col-sm-10">
                    <input class="form-control" th:field="*{updateDate}" id="updateDateTime" type="text" placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label" for="updatePerson">更新者</label>
                  <div class="col-sm-10">
                    <input class="form-control" th:field="*{updateAccountName}" id="updatePerson" type="text" placeholder="">
                  </div>
                </div>
              </div>
              <footer class="permittion-form-footer ta-r">
                <button class="btn btn-lg btn-primary" type="submit">検索</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
