<div class="tab-pane fade in active" id="list" role="tabpanel">
	<div class="row">
		<div class="col-md-7">
			<form class="btn-sort" action="GET" id="j-sortbtn" accept-charset="UTF-8">
				<div class="btns-sort-item">
					<div class="radio">
						<label><input type="radio" name="sort-category"
							checked="true" id="radioBuilding" value="BUILDING">館
						</label>
					</div>
				</div>
				<div class="btns-sort-item">
					<div class="radio">
						<label><input type="radio" name="sort-category" 
							id="radioStore" value="STORE">店舗
						</label>
					</div>
				</div>
				<div class="btns-sort-item">
					<div class="checkbox">
						<label> <input type="checkbox" id="chkOwner"
							th:checked="${findKeywordDTO!=null && findKeywordDTO.accountId!=null && findKeywordDTO.accountId>0}">担当
						</label>
					</div>
				</div>
			</form>
			<div class="refine-by-text">
				<input class="form-control" type="text"
					th:value="${findKeywordDTO!=null && findKeywordDTO.keyWord!=null && findKeywordDTO.keyWord!=''}? ${findKeywordDTO.keyWord}:''"
					placeholder="館 検索" id="keyWordSearch">
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<div class="inline-list create-buttons">
				<a class="btn btn-info pull-right" href="/pc/building/showCreate" th:href="@{/pc/building/showCreate}">新規館作成</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="detail-table">
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrapper">
							<table class="table">
								<colgroup span="5"></colgroup>
								<colgroup span="3"></colgroup>
								<colgroup span="2"></colgroup>
								<colgroup span="1"></colgroup>
								<colgroup span="7"></colgroup>
								<colgroup span="3"></colgroup>
								<colgroup span="4"></colgroup>
								<colgroup span="5"></colgroup>
								<colgroup span="1"></colgroup>
								<thead>
									<tr>
										<th>館名</th>
										<th>企業グループ</th>
										<th>法人</th>
										<th>館長</th>
										<th>館区分</th>
										<th>OPEN</th>
										<th>CLOSE</th>
										<th>都道府県</th>
										<th>店舗開発</th>
										<th>支店営業</th>
										<th>人事リーダー</th>
										<th>活性化予定日</th>
										<th>販売チャンネル</th>
										<th>販売チャンネル2(SC分類)</th>
										<th>ブロック</th>
										<th>エリア</th>
										<th>立地①</th>
										<th>立地②</th>
										<th>小商圏</th>
										<th>売上</th>
										<th>関連資料</th>
										<th>写真・画像</th>
										<th>メモ</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="building : ${buildingKeywords}">
										<td><a
											th:href="@{/pc/building/detail/} + ${building.id}"
											th:text="${building.name}"></a></td>
										<td
											th:text="${building.iCorporationGroup!=null}? ${building.iCorporationGroup.corporationGpName}:''"></td>
										<td
											th:text="${building.iCorporation!=null}? ${building.iCorporation.corporationName}:''"></td>
										<td th:text="${building.owner}"></td>
										<td th:text="${building.buildingType}"></td>
										<td th:text="${building.openDateString}"></td>
										<td th:text="${building.closeDateString}"></td>
										<td
											th:text="${building.iPrefectures!=null}? ${building.iPrefectures.prefecturesName}:''"></td>
										<td th:text="${building.storeDeveloperNames}">
										</td>
										<td th:text="${building.branchsSalesNames}"></td>
										<td th:text="${building.humanResourceLeaderNames}"></td>
										<td th:text="${building.nearestExpectedDay}"></td>
										<td
											th:text="${building.iSalesChannel!=null}? ${building.iSalesChannel.salesChannelName}:''"></td>
										<td
											th:text="${building.iSalesChannel2!=null}? ${building.iSalesChannel2.salesChannelName}:''"></td>
										<td th:text="${building.iBlock!=null}? ${building.iBlock.blockName}:''"></td>
										<td th:text="${building.iArea!=null}? ${building.iArea.areaName}:''"></td>
										<td th:text="${building.locationFirst}"></td>
										<td th:text="${building.locationSecond}"></td>
										<td th:text="${building.smallMarketArea}"></td>
										<td th:text="${building.formatBuildingSales}"></td>
										<td th:text="${building.existRelatedDocument}"></td>
										<td th:if="${building.imagePath} != null">
											<a target="_blank" th:href="@{/pc/building/} + ${building.imagePath}">
												<img class="img-responsive" height="50" width="50" alt="" th:src="@{/pc/building/} + ${building.imagePath}">
											</a>
										</td> 
										<td th:if="${building.imagePath} == null">
											<a target="_blank" th:href="@{/pc/building/} + 'img/no_img.jpg'">
												<img class="img-responsive" height="50" width="50" alt="no_image" th:src="@{/pc/building/} + 'img/no_img.jpg'">
											</a>
										</td>
										<td th:text="${building.note}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<nav class="pagination-area is-centered"
						aria-label="Page navigation">
						<ul id="paginationKeyword" class="pagination">
						</ul>
						<input type="hidden" id="currentPageKeyword"
							th:value="${findKeywordDTO.numberOfPage}" /> <input type="hidden"
							id="pageCountKeyword" th:value="${pageCountKeyword}" />
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	/*<![CDATA[*/
		let accountId = /*[[${session.LOGIN_ACCOUNT.id}]]*/'';
	/*]]>*/
</script>