<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />


    <root level="INFO">
    </root>

    <logger
        name="org.springframework.web"
        level="DEBUG" />
    <logger
        name="org.apache.ibatis"
        level="DEBUG" />
    <logger
        name="com.tierline"
        level="DEBUG" />
    <logger
        name="jp.co.world"
        level="DEBUG" />

    <logger
        name="org.springframework.web.filter.CommonsRequestLoggingFilter"
        level="DEBUG" />
</configuration>

