<nav class="global-nav">
	<ul class="nav nav-pills nav-stacked global-nav-list">
		<li class="presentation global-nav-item"><a onclick="removeSearchStorage()" href="./negotiation.html" th:href="@{/pc/negotiation/index}">商談</a></li>
		<li class="presentation global-nav-item"><a onclick="removeSearchStorage()" href="./building.html" th:href="@{/pc/building/list}">館カルテ</a></li>
		<li class="presentation global-nav-item"><a onclick="removeSearchStorage()" th:href="@{/pc/project/list}">案件</a></li>
		<li class="presentation global-nav-item"><a onclick="removeSearchStorage()" href="./negotiation.html" th:href="@{/pc/sales/file/index}">営業資料</a></li>
		<li class="presentation global-nav-item"><a onclick="removeSearchStorage()"  th:href="@{/pc/project_document}">Project_Documents</a></li>
	</ul>
</nav>
