<!-- Modal -->
<div class="modal-dialog">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-body">
			<p>通知先にメールを送信しますか？</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" id="btnAccept"
				data-dismiss="modal">する</button>
			<button type="button" class="btn btn-default" id="btnNoAccept"
				data-dismiss="modal">しない</button>
			<button type="button" class="btn btn-default" id="btncancel"
				data-dismiss="modal">キャンセル</button>
		</div>
	</div>

</div>
