.global-nav {
  border-radius: 0;
}

.global-nav-list .global-nav-item > a {
  padding: 18px 24px;
  position: relative;
  border-radius: 0;
  font-size: 1.6rem;
  color: #ffffff;

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10%;
    margin-top: -5px;
    transform: translate3d(0, 0, 0) rotate(-45deg);
    transition: 0.2s ease 0s;
  }

  &:hover {
    color: #080808;

    &::after {
      content: '';
      transform: translate3d(5px, 0, 0) rotate(-45deg);
      border-color: #333333;
    }
  }
}
