<div class="building-basic-info j-dropdown" th:if="${negotiation.ImportantInformationList.size() > 0}">
	<header class="building-basic-info-header j-dropdown-header isOpen">
		<h3 class="title">重要情報</h3>
	</header>
	<div class="building-basic-info-body j-dropdown-body">
		<div class="j-dropdown-body-inner">
			<div class="basic-list"
				th:if="${negotiation.ImportantInformationList.size() > 0}">
				<!-- 件数に応じてここを増やす-->
				<div class="basic-list-item"
					th:each="information : ${negotiation.ImportantInformationList}">
					<div th:if="${information.buildingNames.size() > 0}">
						館：<span class="card-names-area"
							th:each="name : ${information.buildingNames}" th:text="${name}"></span>
					</div>
					<div th:if="${information.corporationNames.size() > 0}">
						法人：<span class="card-names-area"
							th:each="name : ${information.corporationNames}"
							th:text="${name}"></span>
					</div>
					<div class="list-group-item-text"
						th:attr="data-information-id=${information.id}"
						th:classappend="${information.isRead} ? 'isRead' : ''"
						th:text="${information.content}"
						style="margin-bottom: 5px; white-space: pre-wrap;"></div>
					<div class="list-group-item-text">

						<div class="registered-data"><span class="name" th:text="${information.account.name}"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
